
.header--container {
    margin: 40px 5% 40px 0;
    display: flex;
    justify-content: space-between;
}


.logo--and--nav {
    display: flex;
    gap: 50px;
}


.nav--links, .login--acess {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav--links li a, .login--acess li a {
    text-decoration: none;
    color: black;
}

