

.container--top--main {
    display: flex;
    overflow: hidden;
    margin: 0 0 20px 5%;
    gap: 4vw;
}

.box--main--text, .main--image {
    width: 53%;
}

.box--main--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.main--text p {
    color: hsl(257, 7%, 63%)
}

.main--button button {
    font-family: 'Poppins', sans-serif;
    padding: 13px 38px;
    background: hsl(180, 66%, 49%);
    font-size: 15px;
    color: white;
    border-style: none;
    border-radius: 30px;
}

.shorten--box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    padding: 50px;
    border-radius: 8px;
    width: 95%;
    background: hsl(257, 27%, 26%);
    background-image: url("/src/images/bg-shorten-desktop.svg");
}


.inner--shorten {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 11px 5% 0 0;
    padding: 15px 25px;
    border-radius: 4px;
}

.inner--shorten a {
    text-decoration: none;
    color: black;
}

.shorten--link--and--copy {
    display: flex;
    gap: 20px;
    align-items: center;
}



.shorten--link--and--copy a {
    color: hsl(180, 66%, 49%);
    text-decoration: none;
}

.copy--button {
    padding: 12px 0px;
    width: 100px;
    background: hsl(180, 66%, 49%);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input--link {
    width: 79%;
    border-radius: 8px;
    border-style: none;
    padding-left: 30px;
}

.input--button {
    font-family: 'Poppins', sans-serif;
    padding: 13px 38px;
    background: hsl(180, 66%, 49%);
    font-size: 15px;
    color: white;
    border-style: none;
    border-radius: 8px;
}

.beneficies--container {
    text-align: center;
    margin: 0 5% 100px 0;
}

.advanced--statistics--box {
    padding: 110px 240px;
    text-align: center;
    margin-left: 5%;

}

.advanced--statistics--box h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.advanced--statistics--box p {
    color: hsl(257, 7%, 63%);
}

.container--box--beneficies {
    display: flex;
    gap: 20px;
    background: linear-gradient(to bottom, transparent 45%, hsl(180, 66%, 49%) 45%, hsl(180, 66%, 49%) 47%, transparent 47%);
    text-align: left;
}

.box--beneficies {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #ffffff;
    border-radius: 6px;
    position: relative;
    padding: 66px 20px 35px;
    height: 35%;
}

.box--beneficies p {
    color: hsl(257, 7%, 63%);
}

.icon--design {
    position: absolute;
    background: hsl(257, 27%, 26%);
    padding: 14px 18px;
    border-radius: 12em;
    top: -15%;
    left: 10%;

}

.icon--design img {
    width: 40px;
}

.margin--4 {
    margin-top: 4%;
}

.margin--8 {
    margin-top: 8%;
}

.boost--links--container {
    height: 215px;
    background: hsl(257, 27%, 26%);
    background-image: url("/src/images/bg-boost-desktop.svg");
    background-size: cover;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boost--links--container h1 {
    font-size: 2em;
}

.boost--links--container button {
    font-family: 'Poppins', sans-serif;
    padding: 13px 38px;
    background: hsl(180, 66%, 49%);
    font-size: 15px;
    color: white;
    border-style: none;
    border-radius: 30px;
}