

.container--top--main {
    display: flex;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.box--main--text, .main--image {
    width: 50%;
}

.shorten--box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    padding: 60px;
    width: 95%;
    background: hsl(257, 27%, 26%);
    background-image: url("/src/images/bg-shorten-desktop.svg");
}

.input--link {
    width: 70%;
}

.input--button {
    width: 20%;
}

.beneficies--container {
    text-align: center;
    margin: 100px 5% 100px 0;
}

.container--box--beneficies {
    display: flex;
    gap: 20px;
    background: linear-gradient(to bottom, transparent 45%, hsl(180, 66%, 49%) 45%, hsl(180, 66%, 49%) 50%, transparent 50%);
}

.box--beneficies {
    background: #ffffff;
    border-radius: 6px;
}