*{
  margin: 0;
  padding: 0;
}

html {
  max-width: 1000px;
  margin: 0 auto;
}

header, main, footer {
  padding-left: 5%;
}

main {
  background: linear-gradient(to bottom, #ffffff 72%, #EFF1F7 28%);
}
