*{
  margin: 0;
  padding: 0;
}

html {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

header {
  padding-left: 5%;
}

.margin--left--5 {
  margin-left: 5%;
}

main {
  background: linear-gradient(to bottom, #ffffff 572px, #EFF1F7 28%);
}

footer {
  font-size: 14px;
}


